<<!--!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="components/fragments :: headerfiles">
</head>
<body>
<header th:insert="components/fragments :: nav"></header>

<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link active" th:href="@{/login}">
            <i class="fas fa-user"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usuario/registro}">
            <i class="fas fa-user-plus"></i> Registro</a>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <div th:if="${registroOK}" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
        <p th:text="${registroOK}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/signin}" method="post" sec:authorize="!isAuthenticated()">
        &lt;!&ndash; control ataque csrf &ndash;&gt;
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        &lt;!&ndash; fin control ataque csrf &ndash;&gt;
        <div class="form-group">
          <label for="nombreUsuario">Nombre de Usuario</label>
          <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" required="required" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" required="required">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe">
          <label class="form-check-label" for="checkRememberMe">Recordarme</label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success btn-block">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
        </div>
      </form>

      <p sec:authorize="isAuthenticated()">Ya has iniciado sesión</p>

      <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        <p>Credenciales Erróneas</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<footer th:insert="components/fragments :: footer"></footer>
<div th:insert="components/fragments :: scripts"></div>
</body>
</html>-->